{{ template "header.html" . }}
<div class="bounding-panel">
  <object data="{{ url "theme/logo.svg" }}" type="image/svg+xml" class="pure1-logo">
    Pure1 Unplugged
  </object>
  <div>
    {{ range $c := .Connectors }}
      <div class="theme-form-row">
        <a href="{{ $c.URL }}" target="_self">
          <button class="dex-btn theme-btn-provider">
            Log in with {{ $c.Name }}
          </button>
        </a>
      </div>
    {{ end }}
  </div>
</div>

{{ template "footer.html" . }}



